<%= form_for @post do |f| %>
<% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this abum from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    
    <%= f.label :title %> <br>
    <%= f.text_field :title, required: true %> <br>
    <br>
    <br>
    <%= f.label :decsription, "Тект Вашей новости здесь!" %> <br>
    <%= f.cktext_area :decsription, required: true, :ckeditor => {:uiColor => '#85cdd9', :toolbar => 'full'} %>
        <br>
    <br>    
    <br>
    <br>
    <%= f.label :content, "Тест Вашей новости здесь!" %> <br>
    <%= f.cktext_area :content, required: true, :ckeditor => {:uiColor => '#85cdd9', :toolbar => 'full'} %>
        <br>
    <br>
    
    <div class="field">
    <%= f.label :images_files %><br>
    <%= f.attachment_field :images_files, multiple: true, presigned: true, direct: true, required: true %>
</div>

    <%= f.submit %>

<% end %>